@font-face {
  font-family: "JetBrains";
  src:
    url("../assets/JetBrainsMono-Bold.woff2") format("woff2"),
    url("../assets/JetBrainsMono-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JetBrains", sans-serif;
}

.contact {
  min-height: 100vh;
  padding: 40px;
  text-align: center;

  .puzzle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: auto;
  }

  .piece {
    background: #1e1e2f;
    color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.35s ease;
    opacity: 0;
    transform: translateY(30px);
    animation: puzzleFade 0.6s ease forwards;

    &:hover {
      transform: translateY(-6px) scale(1.03);
      background: #6c5cff;
    }

    /* Bentuk puzzle */
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: inherit;
      border-radius: 50%;
    }

    &::before {
      width: 25px;
      height: 25px;
      top: -12px;
      left: 40%;
    }

    &::after {
      width: 25px;
      height: 25px;
      bottom: -12px;
      right: 40%;
    }

    /* Delay animasi */
    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation-delay: 0.6s;
    }
  }

  /* Layout khusus puzzle */
  .profile {
    grid-column: span 1;
  }

  .email {
    grid-column: span 2;
  }

  .github {
    grid-column: span 1;
  }

  .whatsapp {
    grid-column: span 1;
  }

  .instagram {
    grid-column: span 1;
  }

  .message {
    grid-column: span 3;
  }
}

@keyframes puzzleFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

div.overlayBg {
  position: absolute;
  inset: 0; // cocok untuk absolute , tampa right  , buttom , top , left Membuat elemen menempel ke seluruh sisi kontainer
  background: rgba(11, 6, 24, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.detail-img {
  position: absolute;
  inset: 0; // cocok untuk absolute , tampa right  , buttom , top , left Membuat elemen menempel ke seluruh sisi kontainer

  z-index: 10;
  visibility: hidden;

  img {
    &:hover {
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      cursor: pointer;
    }
  }
}
div.detail-img.show {
  visibility: visible;
}
