@use "core/color" as color;
@use "core/componets" as components;

@font-face {
  font-family: "JetBrains";
  src:
    url("../assets/JetBrainsMono-Bold.woff2") format("woff2"),
    url("../assets/JetBrainsMono-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "JetBrains", sans-serif;

  background: color.$gradient-space;
}

h1 {
  text-align: center;
  color: color.$text-primary;
  text-shadow: 0 0 10px color.$text-primary;
  margin-bottom: 1rem;
}

section.web {
  @include components.box();
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  section.bots {
    @include components.box();
    padding: 1rem;
  }

  section.terminal {
    @include components.box();
    padding: 1rem;
  }

  section.game {
    @include components.box();
    padding: 1rem;
  }
}
